<header id="top-header">
  <span class="siteName">
    <a style="text-decoration: none; color: inherit;"  href="/"  title="Return to home page"><h1 class="header">CSE Motors</h1></a>
  </span>
  <div id="tools">
    <a style="text-decoration: none; color: inherit;" title="Click to log in" href="/account/login"><h4 class="account">My Account</h4></a>
  </div>
</header>