<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || 'Login' %></title>
</head>
<body>
 <h2><a href="/inv/AddNewClassification">Add New Classification</a></h2>
 <h2><a href="/inv/AddNewInventory">Add New Vehicle</a></h2>
 <h2>Manage Inventory</h2>

 <p>Select a Classification</p>
 <%- classificationSelect  %>

 <noscript>JavaScript must be enabled to use this page</noscript>

 <table id="inventoryDisplay"></table>

 <script src="../../js/inventory.js"></script>

</body>
</html>
