<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || "New Classification Added" %></title>
</head>
<body>
  <h1>New Classification Added</h1>

  <% if (messages) { %>
    <%- messages() %>
    <% } %>
  
</body>
</html>
