<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || "New Vehicle Added" %></title>
</head>
<body>
  <h1>New Vehicle Added</h1>

  <% if(messages) { %>
  <%- messages() %>
  <% } %>
</body>
</html>
